---
// src/components/Aboutservice.astro
---
<section class="py-16 bg-gray-50">
    <div class="container mx-auto px-4 flex flex-col-reverse md:flex-row items-center">
      <!-- Texto -->
      <div class="md:w-1/2 text-center md:text-left">
        <h2 class="text-3xl font-bold text-blue-900 mb-4">Transforme Seu Negócio com Automação</h2>
        <p class="text-lg text-gray-700 mb-6">
          A automação de processos pode transformar seu negócio, melhorando a eficiência e otimizando o tempo da sua equipe. 
          Implementar soluções automatizadas vai ajudá-lo a crescer mais rápido e com maior controle sobre todas as áreas da sua empresa.
        </p>
        <button class="bg-blue-900 text-white px-6 py-3 rounded-md hover:bg-blue-700">
          Saiba Mais
        </button>
      </div>
  
      <!-- Imagem -->
      <div class="md:w-1/2 mb-8 md:mb-0">
        <img src="/assets/postagendamento.png" alt="Automação de Processos" class="w-full h-auto rounded-lg shadow-lg object-cover">
      </div>
    </div>
  </section>
  