<section class="relative flex justify-center items-center w-full h-[30vw]">
  <div class="relative w-full h-full overflow-hidden">
    <!-- Banner -->
    <img src="/assets/baner.png" alt="Coleção Outono" class="w-full h-full object-cover" />
  </div>
</section>
