---
import { produtos } from '../data/produtos.js';
import ProductSection from '../components/ProdutctSection.astro'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hamburgueria Pexico</title>
    <link rel="stylesheet" href="/styles/output.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  </head>
  <body>
    <!-- Menu de categorias -->
    <div class="p-6">
      <div class="flex justify-center items-center">
        <nav class="w-full max-w-screen-lg mx-auto">
          <ul class="flex justify-center items-center space-x-8 font-bold text-lg">
            <li>
              <a href="#hamburgueres" class="block border-2 border-black rounded-md px-4 py-2">Hambúrguer</a>
            </li>
            <li>
              <a href="#bebidas" class="block border-2 border-black rounded-md px-2 py-2">Bebidas</a>
            </li>
            <li>
              <a href="#porcoes" class="block border-2 border-black rounded-md px-4 py-2">Porções</a>
            </li>
            <li>
              <a href="#artesanais" class="block border-2 border-black rounded-md px-4 py-2">Artesanais</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- Seções de produtos -->
    <main>
      <ProductSection id="artesanais" title="Artesanais" products={produtos.artesanais} />
      <ProductSection id="bebidas" title="Bebidas" products={produtos.bebidas} />
      <ProductSection id="hamburgueres" title="Hambúrguer" products={produtos.hamburgueres} />
      <ProductSection id="porcoes" title="Porções" products={produtos.porcoes} />
    </main>
  </body>
</html>
