---
// src/components/Footer.astro
---
<footer class="w-full bg-red-500 py-3 fixed bottom-0 z-40 flex items-center justify-center">
  <button class="flex items-center gap-2 text-white font-bold" id="cart-btn">
    (<span id="cart-count">0</span>) Ver meu Carrinho
    <i class="fa fa-cart-plus text-lg text-white"></i>
  </button>
</footer>
