---
// src/components/MapEmbed.astro
---
<div id="map" class="overflow-hidden w-full h-[60vw] sm:h-[40vh] md:h-[30vh] lg:h-[20vw]">
    <iframe 
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3750.2728448345633!2d-44.202619626438356!3d-19.955024639085046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa6c360cdf023e5%3A0x2da717cfad8f5512!2sTHE%20BROTHERS%20BURGUERS!5e0!3m2!1spt-BR!2sbr!4v1736516683274!5m2!1spt-BR!2sbr" 
      class="w-full h-full border-0" 
      allowfullscreen 
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
  